img {
    width: 200px;
    height: 100px;
    object-fit: cover;
}
body{
    background-color: lightpink;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: navy;
}
ol{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: navy;
}
a:hover {
  color: #ff6600;
  text-decoration: underline;
  transition: color 0.3s ease;
}

button:hover {
  background-color: #222;
  color: #fff;
}
#Food-List{
    font-style: italic;
    font-size: 16px;
    color: teal;
    list-style-type: square;
}