html{
    font: 15px Times New Roman, serif;
    color: red;
    background-color: aqua;
}
.section-heading {
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: darkblue;
}
#Food-List{
    font-style: italic;
    font-size: 16px;
    color: limegreen;
    list-style-type: square;
}
a:hover {
  color: #ff6600;
  text-decoration: underline;
  transition: color 0.3s ease;
}

button:hover {
  background-color: #222;
  color: #fff;
}